<div
  class="nectar-flickity not-initialized nectar-carousel tb-spacing-0 "
  data-indicator-style="solid_bg"
  data-indicator-bg="#00aeff"
  data-indicator-icon="#ffffff"
  data-indicator-text="Drag"
  data-centered-cells="false"
  data-pause-on-hover=""
  data-touch-icon-color="default"
  data-control-color="default"
  data-overflow="visible"
  data-r-bottom-total="true"
  data-drag-scale="true"
  data-wrap="no-wrap"
  data-spacing="15px"
  data-controls="touch_total"
  data-pagination-alignment="default"
  data-adaptive-height=""
  data-border-radius="none"
  data-column-border=""
  data-column-padding="0"
  data-format="default"
  data-autoplay=""
  data-autoplay-dur="5000"
  data-control-style="material_pagination"
  data-desktop-columns="4"
  data-small-desktop-columns="3"
  data-tablet-columns="2"
  data-phone-columns="1"
  data-column-color="">
  <div class="flickity-viewport">
    <div class="flickity-slider">{{ carouselItems}}</div>
  </div>
</div>
