<div class="nectar-post-grid-item nectar-underline" data-has-img="true" data-post-id="144">
    <div class="inner">
        <div class="nectar-post-grid-item-bg-wrap">
        <div class="nectar-el-parallax-scroll" data-scroll-animation="true" data-scroll-animation-intensity="-0.75" data-scroll-animation-lerp="1" data-scroll-animation-mobile="true">
            <div class="nectar-post-grid-item-bg-wrap-inner">
            <div class="nectar-post-grid-item-bg">
                <img
                alt="svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww"
                class="nectar-lazy skip-lazy"
                data-nectar-img-src="{{ imgUrl }}"
                data-nectar-img-srcset="{{ imgSrcSet }}"
                decoding="async"
                height="1440"
                sizes="(max-width: 1024px) 100vw, 1024px"
                src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%202560%201440'%2F%3E"
                width="2560" />
            </div>
            </div>
        </div>
        </div>
        <div class="content">
        <a class="nectar-post-grid-link" href="{{ link }}"><span class="screen-reader-text">{{name}}</span></a>
        <span class="meta-category"><a class="istanbul-anadolu style-underline" href="{{ link }}">{{ facility.location }}</a></span>
        <div class="item-main">
            <h3 class="post-heading"><span>{{ name }}</span></h3>
        </div>
        </div>
    </div>
</div>