<article id="{{postId}}" class="regular masonry-blog-item post-75446 post type-post status-publish format-standard has-post-thumbnail category-basin-bultenleri">
  <div class="inner-wrap animated">
    <div class="post-content">
      <div class="content-inner">
        <a href="{{ postUrl }}" aria-label="Ekol’ün “Bu Yüz’den” ve “Bu 101” Kampanyalarına IPRA’dan Altın Küre Ödülü">
          <span class="post-featured-img"><img decoding="async" width="500" height="500" src="{{ postImgUrl }}" class="attachment-regular size-regular skip-lazy wp-post-image" alt="" title="" sizes="(min-width: 1000px) 25vw, (min-width: 690px) 100vw, 100vw" srcset="{{ postImgSrcset }}" /></span>
        </a>
        <div class="article-content-wrap">
          <div class="post-header">
            <h3 class="title"><a href="{{ postUrl }}">{{ postTitle }}</a></h3>
            <div class="post-meta">
              <div class="date">{{ date }}</div>
            </div>
            <span class="meta-author">
              <span>By</span>
              {{ author }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
