{
  "printWidth": 300,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "embeddedLanguageFormatting": "off",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "singleAttributePerLine": false
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": ["$id", "$class", "$DEFAULT"]
}
