<div id="fws_69329f230cfcc"  data-column-margin="default" data-midnight="dark"  class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top  top_margin_100px"  style="padding-top: 0px; padding-bottom: 0px; ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
        <div class="inner-wrap row-bg-layer" >
            <div class="row-bg viewport-desktop using-bg-color"  style="background-color: #000000; "></div>
        </div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
        <div  class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone "  data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0" >
            <div class="vc_column-inner" >
            <div class="wpb_wrapper">
                <div class="img-with-aniamtion-wrap center" data-max-width="50%" data-max-width-mobile="100%" data-shadow="none" data-animation="none" >
                    <div class="inner">
                        <div class="hover-wrap">
                        <div class="hover-wrap-inner">
                            <img decoding="async" class="img-with-animation skip-lazy nectar-lazy" data-delay="0" height="300" width="1000" data-animation="none" data-nectar-img-src="/assets/media/BuYuzden_Banner_bar.gif" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201000%20300'%2F%3E" alt=""  />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>