<div
  id="fws_69329f23253aa"
  data-column-margin="default"
  data-midnight="dark"
  data-top-percent="5%"
  data-bottom-percent="5%"
  class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top"
  style="padding-top: calc(100vw * 0.05); padding-bottom: calc(100vw * 0.05); ">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="true">
    <div class="inner-wrap row-bg-layer">
      <div class="row-bg viewport-desktop" style=""></div>
    </div>
    <div class="row-bg-overlay row-bg-layer" style="background-color:#ffffff;  opacity: 0.95; "></div>
  </div>
  <div class="row_col_wrap_12 col span_12 dark left">
    <div
      class="vc_col-sm-6 wpb_column column_container vc_column_container col nectar-sticky-column-css--middle nectar-sticky-column-css padding-6-percent padding-5-percent_tablet inherit_phone "
      data-padding-pos="left-right"
      data-has-bg-color="false"
      data-bg-color=""
      data-bg-opacity="1"
      data-animation=""
      data-delay="0">
      <div class="n-sticky">
        <div class="vc_column-inner">
          <div class="wpb_wrapper">
            <div id="fws_69329f232605c" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row" style="padding-bottom: 15px; ">
              <div class="row-bg-wrap">
                <div class="row-bg"></div>
              </div>
              <div class="row_col_wrap_12_inner col span_12  left">
                <div
                  class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone "
                  data-padding-pos="all"
                  data-has-bg-color="false"
                  data-bg-color=""
                  data-bg-opacity="1"
                  data-animation="fade-in-from-bottom"
                  data-delay="0">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                          <h5>{{ "home.facilities.h5" | t: locale }}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="nectar-split-heading  font_size_3vw "
              data-align="default"
              data-m-align="inherit"
              data-text-effect="default"
              data-animation-type="line-reveal-by-space"
              data-animation-delay="0"
              data-animation-offset=""
              data-m-rm-animation=""
              data-stagger="true"
              data-custom-font-size="true"
              style="font-size: 3vw; line-height: 3.3vw;">
              <h2 style="max-width: 80%; color: #000000;">{{ "home.facilities.h2" | t: locale }}</h2>
            </div>
            <div id="fws_69329f232732f" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row  bottom_padding_tablet_5pct" style="">
              <div class="row-bg-wrap">
                <div class="row-bg"></div>
              </div>
              <div class="row_col_wrap_12_inner col span_12  left">
                <div
                  class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone "
                  data-padding-pos="all"
                  data-has-bg-color="false"
                  data-bg-color=""
                  data-bg-opacity="1"
                  data-animation="fade-in-from-bottom"
                  data-delay="0">
                  <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                      <div
                        class="nectar-cta  hover_color_00aeff text_hover_color_ffffff border_color_cccccc hover_border_color_ffffff border_thickness_1px alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit "
                        data-color="default"
                        data-using-bg="false"
                        data-style="arrow-animation"
                        data-display="block"
                        data-alignment="left"
                        data-text-color="custom"
                        style="margin-top: 30px; ">
                        <h6 style="color: #000000;">
                          <span class="link_wrap" style="padding-top: 15px; padding-right: 40px; padding-bottom: 15px; padding-left: 40px;">
                            <a class="link_text" role="button" href="/tesisler/">
                              <span class="text">{{ "home.facilities.buttonText" | t: locale }}</span>
                              <svg class="next-arrow" aria-hidden="true" width="20px" height="25px" viewBox="0 0 50 80" xml:space="preserve">
                                <polyline stroke="#ffffff" stroke-width="9" fill="none" stroke-linecap="round" stroke-linejoin="round" points="0, 0 45, 40 0, 80" />
                              </svg>
                              <span aria-hidden="true" class="line" style="background-color: #000000;"></span>
                            </a>
                          </span>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding el_spacing_30px padding-5-percent_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div
            class="nectar-post-grid-wrap text-color-dark spacing-35px"
            data-el-settings='{"post_type":"portfolio","pagination":"none","image_size":"large","parallax_scrolling":"yes","aspect_ratio_image_size":"","category_position":"default","category_display":"default","display_categories":"yes","display_excerpt":"yes","excerpt_length":"20","display_date":"0","display_estimated_reading_time":"0","display_author":"0","author_functionality":"default","author_position":"default","color_overlay":"","color_overlay_opacity":"","color_overlay_hover_opacity":"","card_bg_color":"","grid_style":"content_under_image","hover_effect":"animated_underline_zoom","post_title_overlay":"","heading_tag":"h3","heading_tag_render":"default","enable_gallery_lightbox":"0","category_style":"underline","overlay_secondary_project_image":"","vertical_list_hover_effect":"none","vertical_list_read_more":"","read_more_button":"0","animation":"none","custom_fields":"","custom_fields_location":"before_post_meta","display_type":"grid","text_content_layout":"top_left"}'
            data-style="content_under_image"
            data-query='{"post_type":"portfolio","posts_per_page":"3","order":"DESC","orderby":"date","offset":"0","cpt_name":"post","custom_query_tax":"","ignore_sticky_posts":"","exclude_current_post":""}'
            data-load-more-color="black"
            data-load-more-text="Load More">
            <div class="nectar-post-grid-filters" data-active-color="default" data-align="default" data-animation="none" data-sortable="">
              <div>
                <a href="#" class="active all-filter" data-filter="-1" data-total-count="8">All</a>
                <a href="#" data-filter="ankara" data-total-count="1">Ankara</a>
                <a href="#" data-filter="istanbul-anadolu" data-total-count="4">İstanbul - Anadolu</a>
                <a href="#" data-filter="istanbul-avrupa" data-total-count="1">İstanbul - Avrupa</a>
                <a href="#" data-filter="konya" data-total-count="1">Konya</a>
                <a href="#" data-filter="yalova" data-total-count="1">Yalova</a>
              </div>
            </div>
            <div
              class="nectar-post-grid custom_font_size_2vw category-position-before-title "
              data-indicator=""
              data-indicator-style="default"
              data-indicator-text-color="#fff"
              data-indicator-color="#000"
              data-indicator-text="View"
              data-columns="1"
              data-hover-effect="animated_underline_zoom"
              data-text-style="default"
              data-border-radius="none"
              data-grid-item-height="60vh"
              data-grid-spacing="35px"
              data-text-layout="top_left"
              data-text-color="dark"
              data-text-hover-color="dark"
              data-shadow-hover=""
              data-animation="none"
              data-animation-stagger="90"
              data-cat-click="static"
              data-lock-aspect=""
              data-text-align="left"
              data-card="">
              {% assign facilities = "home.facilities.items" | t: locale %} {% for facility in facilities %} {% include "components/facility-card.html" name: facility.name imgUrl: "https://www.ekol.com/wp-content/uploads/2025/01/Ekol07-scaled-1-1024x576.webp" href: facility.href %} {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
