<div
  id="fws_69329f23084bc"
  data-column-margin="default"
  data-midnight="light"
  class="wpb_row vc_row-fluid vc_row top-level full-width-content vc_row-o-full-height vc_row-o-columns-middle vc_row-o-equal-height vc_row-flex vc_row-o-content-top  zindex-set mobile-disable-bg-image-animation right_padding_8pct left_padding_8pct nectar-overflow-hidden"
  style="padding-top: 0px; padding-bottom: 0px;  z-index: 100;">
  <div class="row-bg-wrap" data-bg-animation="fade-in" data-bg-animation-delay="" data-bg-overlay="true">
    <div class="inner-wrap row-bg-layer" style="background-color: #2b323a;">
      <div class="row-bg viewport-desktop using-bg-color" style="background-color: #2b323a; "></div>
    </div>
    <div class="row-bg-overlay row-bg-layer" style="background-color:rgba(0,0,0,0.78);  opacity: 0.8; "></div>
  </div>
  <div class="video-color-overlay row-bg-layer" data-color="#2b323a"></div>
  <div class="nectar-video-wrap row-bg-layer" data-bg-alignment="">
    <div class="nectar-video-inner">
      <video class="nectar-video-bg" width="1800" height="700" preload="auto" loop autoplay muted playsinline>
        <source src="{{ heroBgVideoSource }}" type="video/mp4" />
      </video>
    </div>
  </div>
  <div class="row_col_wrap_12 col span_12 light left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding column_position_static el_spacing_0px inherit_tablet inherit_phone " data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div id="fws_69329f2309752" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row  right_padding_13vw left_padding_13vw" style=" z-index: 10;">
            <div class="row-bg-wrap">
              <div class="row-bg"></div>
            </div>
            <div class="row_col_wrap_12_inner col span_12  left">
              <div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column centered-text no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="nectar-split-heading  font_size_9vw font_size_tablet_10vw font_line_height_1-1 "
                      data-align="left"
                      data-m-align="inherit"
                      data-text-effect="letter-reveal-bottom"
                      data-animation-type="line-reveal-by-space"
                      data-animation-delay="150"
                      data-animation-offset=""
                      data-m-rm-animation="true"
                      data-stagger="true"
                      data-custom-font-size="true"
                      style="font-size: 9vw; line-height: 9.9vw;">
                      <h1>{{ heroTitle }}</h1>
                    </div>
                    <div class="nectar-rotating-words-title" data-rotation="1500" data-mobile="inline">
                      <h2 class="heading">
                        <span class="beginning-text">{{ beginningText }}</span>
                        <span class="dynamic-words" data-inherit-heading-family="default">
                            {% for word in dynamicWords %}
                                <span class="text-wrap {% if forloop.first %}active{% endif %}">
                                    <span>{{ word }}</span>
                                </span>
                            {% endfor %}
                        </span>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="fws_69329f230ac8d" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  min_width_desktop_175px row_position_absolute bottom_position_desktop_0px left_position_desktop_50pct translate_y_55pct translate_x_-50pct" style=" z-index: 100;">
            <div class="row-bg-wrap">
              <div class="row-bg"></div>
            </div>
            <div class="row_col_wrap_12_inner col span_12  left">
              <div
                class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation padding-2-percent inherit_tablet inherit_phone mobile-disable-entrance-animation "
                data-padding-pos="all"
                data-has-bg-color="false"
                data-bg-color=""
                data-bg-opacity="1"
                data-animation="fade-in-from-bottom"
                data-delay="600"
                data-animation-offset="100%">
                <div class="vc_column-inner">
                  <a class="column-link" target="_self" href="#intro"></a>
                  <div class="wpb_wrapper">
                    <div class="img-with-aniamtion-wrap  custom-width-175px " data-max-width="custom" data-max-width-mobile="default" data-shadow="none" data-animation="slide-up">
                      <div class="inner">
                        <div class="hover-wrap">
                          <div class="hover-wrap-inner">
                            <img
                              fetchpriority="high"
                              decoding="async"
                              class="img-with-animation skip-lazy"
                              data-delay="0"
                              height="400"
                              width="400"
                              data-animation="slide-up"
                              src="/assets/media/scroll-down-light.png"
                              alt=""
                              srcset="/assets/media/scroll-down-light.png 400w, /assets/media/scroll-down-light-300x300.png 300w, /assets/media/scroll-down-light-150x150.png 150w, /assets/media/scroll-down-light-140x140.png 140w, /assets/media/scroll-down-light-100x100.png 100w, /assets/media/scroll-down-light-350x350.png 350w"
                              sizes="(max-width: 400px) 100vw, 400px" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
