<div
  id="fws_69329f2322a39"
  data-column-margin="default"
  data-midnight="dark"
  data-top-percent="6%"
  data-bottom-percent="12%"
  class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top  right_padding_27pct left_padding_27pct bottom_padding_tablet_15pct right_padding_tablet_18pct right_padding_phone_8pct left_padding_tablet_18pct left_padding_phone_8pct"
  style="padding-top: calc(100vw * 0.06); padding-bottom: calc(100vw * 0.12); ">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer">
      <div class="row-bg viewport-desktop" style=""></div>
    </div>
  </div>
  <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col centered-text no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="nectar-highlighted-text font_size_2vw font_line_height_4-5vw " data-style="scribble" data-exp="default" data-using-custom-color="false" data-animation-delay="false" data-color="" data-color-gradient="" style="">
            <p>
              {{ first }}
              <em style="color: #00aeff;">
                {{ emphatized }}
                <svg class="nectar-scribble squiggle-underline" preserveaspectratio="none" role="presentation" viewbox="-347 -30.1947 694 96.19">
                  <path
                    d="M-335,54 C-335,54 -171,-58 -194,-3 C-217,52 -224.1199951171875,73.552001953125 -127,11 C-68,-27 -137,50 -33,42 C31.43899917602539,37.042999267578125 147.14700317382812,-29.308000564575195 335,2"
                    fill="none"
                    pathlength="1"
                    stroke="#00aeff"
                    stroke-width="8"
                    style="animation-duration: 1.8s;"></path>
                </svg>
              </em>
              <span>{{last }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
