<div id="fws_69329f2323f6e" data-column-margin="default" data-midnight="light" class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top parallax_section" style="padding-top: 0px; padding-bottom: 0px; ">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer">
      <div class="row-bg viewport-desktop" data-parallax-speed="medium_fast" style=""></div>
    </div>
    <div class="row-bg-overlay row-bg-layer" style=""></div>
  </div>
  <div class="video-color-overlay row-bg-layer" data-color=""></div>
  <div class="nectar-video-wrap row-bg-layer" data-bg-alignment="">
    <div class="nectar-video-inner">
      <video class="nectar-video-bg" width="1800" height="700" preload="auto" loop autoplay muted playsinline>
        <source src="{{ videoSource }}" type="video/mp4" />
      </video>
    </div>
  </div>
  <div class="row_col_wrap_12 col span_12 light left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col centered-text no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="divider-wrap height_tablet_65vh " data-alignment="default">
            <div style="height: 80vh;" class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
