<div id="fws_69396bc99ca56" data-column-margin="20px" data-midnight="dark" class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top  bottom_margin_50px" style="padding-top: 0px; padding-bottom: 0px; ">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
  </div>
  <div class="row_col_wrap_12 col span_12 dark left">
    {% for card in cards %}
    <div class="vc_col-sm-12 vc_col-md-4 vc_col-lg-2 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="nectar-fancy-box using-img" style="min-height: 500px" data-style="hover_desc" data-border-radius="default" data-animation="" data-bg-animation="long_zoom" data-border="" data-delay="" data-alignment="left" data-color="">
            <div class="box-bg loaded nectar-bg-size" role="presentation" style="background-image: url({{card.imgUrl}});"></div>
            <div class="inner">
              <div class="heading-wrap img-loaded" style="transform: translateY(0px);">
                <img style="max-width: 50px;" class="fancy-box-custom-icon nectar-lazy loaded" alt="" src="{{card.imgUrl}}" />
                <h2>{{ card.title }}</h2>
              </div>
              <div class="hover-content">{{card.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="wpb_wrapper">
  <div class="divider-wrap" data-alignment="default"><div style="height:64px;" class="divider"></div></div>
</div>
