<div id="fws_69283d6c34977" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row  right_padding_50px left_padding_50px" style="padding-top: 0px; padding-bottom: 0px; ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element  vc_custom_1739878891498">
            <div class="wpb_wrapper">
                <h2><b>{{ history.title }}</b></h2>
            </div>
            </div>

            <div class="wpb_text_column wpb_content_element  vc_custom_1750141328763">
            <div class="wpb_wrapper">
                {% for paragraph in history.paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>