<div id="depo-yonetimi" data-column-margin="default" data-midnight="light" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: 150px; padding-bottom: 150px; ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop using-bg-color" style="background-color: #f0f0f0; "></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 light left">
    <div style="margin-top: 5%; " class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div
            class="nectar-split-heading font_size_4-5vw markup-generated animated-in"
            data-align="default"
            data-m-align="inherit"
            data-text-effect="letter-reveal-bottom"
            data-animation-type="line-reveal-by-space"
            data-animation-delay="0"
            data-animation-offset=""
            data-m-rm-animation=""
            data-stagger=""
            data-custom-font-size="true"
            style="font-size: 4.5vw; line-height: 4.95vw;">
            <h1 style=" color: #55565a;" aria-label="{{pageHeader}}">{{ pageHeader }}</h1>
            </div>
            <p style="font-size: 20px;color: rgba(10,10,10,0.6);line-height: 1.8;text-align: left" class="vc_custom_heading vc_do_custom_heading wpb_animate_when_almost_visible wpb_fadeIn fadeIn animated wpb_start_animation">
            {{ pageSubHeader }}
            </p>
        </div>
        </div>
    </div>

    <div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="img-with-aniamtion-wrap " data-max-width="100%" data-max-width-mobile="default" data-shadow="none" data-animation="none">
            <div class="inner">
                <div class="hover-wrap">
                <div class="hover-wrap-inner img-loaded">
                    <img
                    fetchpriority="high"
                    decoding="async"
                    class="img-with-animation skip-lazy nectar-lazy loaded"
                    data-delay="0"
                    height="1333"
                    width="2000"
                    data-animation="none"
                    src="{{ "services.hero.imgUrl" | t: locale}}"
                    alt=""
                    sizes="(max-width: 2000px) 100vw, 2000px"
                    style=""
                    srcset="{{ headerImgSrc }}" />
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>