<div id="fws_69283dae5ca17" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row top-level full-width-section first-section loaded" style="padding-top: 0px; padding-bottom: 0px; z-index: 10000;">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="sticky-wrapper">
            <div class="page-submenu" data-bg-color="#303B5A" data-sticky="true" data-alignment="center">
                <div class="full-width-content" style="background-color:#303B5A; color: #ffffff;">
                <ul style="background-color:#303B5A; color: #ffffff;">
                    <li class=""><a href="#serviceContent">Detay</a></li>
                    <li class=""><a href="#getContact">Teklif Al</a></li>
                </ul>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>