<div id="degerlerimiz" data-column-margin="default" data-midnight="dark" data-top-percent="6%" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: calc(100vw * 0.06); padding-bottom: 0px; ">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
  </div>
  <div class="row_col_wrap_12 col span_12 dark left">
    <div style="margin-bottom: -50px; " class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div id="fws_69283dfe33b7b" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="padding-bottom: 10%; ">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
              <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper"></div>
                </div>
              </div>

              <div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column centered-text no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="nectar-split-heading markup-generated animated-in"
                      data-align="default"
                      data-m-align="inherit"
                      data-text-effect="letter-reveal-bottom"
                      data-animation-type="line-reveal-by-space"
                      data-animation-delay="0"
                      data-animation-offset=""
                      data-m-rm-animation=""
                      data-stagger=""
                      data-custom-font-size="false">
                      <h1 style=" color: #55565a;" aria-label="{{careerSectionTitle}}">{{ careerSectionTitle }}</h1>
                    </div>
                    <div class="wpb_text_column wpb_content_element  vc_custom_1750086140304">
                      <div class="wpb_wrapper">
                        <p>{{ careerSectionSubTitle }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="vc_column-inner">
                  <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                  <div class="wpb_wrapper"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="fws_69283dfe3504b" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row" style="padding-top: 0px; padding-bottom: 0px; ">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
  </div>
  <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="toggles " data-br="" data-starting="default" data-style="minimal">
            {% for toggle in toggles %}
            <div class="toggle default" data-inner-wrap="true">
              <h3 class="toggle-title">
                <a role="button" class="toggle-heading">
                  <i role="presentation" class="fa fa-plus-circle"></i>
                  {{ toggle.title }}
                </a>
              </h3>
              <div>
                <div class="inner-toggle-wrap">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p>{{ toggle.content }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
