<div
    id="creative-services"
    data-column-margin="default"
    data-midnight="dark"
    data-top-percent="5%"
    data-bottom-percent="5%"
    class="wpb_row vc_row-fluid vc_row full-width-section vc_row-o-equal-height vc_row-flex vc_row-o-content-middle"
    style="padding-top: calc(100vw * 0.05); padding-bottom: calc(100vw * 0.05); ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-4 vc_hidden-sm vc_hidden-xs wpb_column column_container vc_column_container col padding-2-percent inherit_tablet inherit_phone " data-padding-pos="right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h3>Daha İyisi Seninle Mümkün!</h3>
            </div>
            </div>

            <div class="wpb_text_column wpb_content_element  vc_custom_1750164553896">
            <div class="wpb_wrapper">
                <p>Daha iyi bir kariyer, iletişim, toplum, yaşam ve gelecek hedefine ulaşmak ancak “Daha İyi Bir Sen” ile mümkün!</p>
            </div>
            </div>

            <a
            class="nectar-button large see-through-2  has-icon"
            role="button"
            style="margin-top: 15px; border-color: rgba(255, 16, 83, 0.75); color: rgb(255, 16, 83); visibility: visible;"
            href="https://www.Adeca.com/insan-kaynaklari/#"
            data-color-override="#ff1053"
            data-hover-color-override="#ff1053"
            data-hover-text-color-override="#ffffff">
            <span>#DahaİyiBirSen</span>
            <i class="icon-button-arrow" style="color: rgb(255, 255, 255); background-color: rgb(255, 16, 83); box-shadow: rgba(255, 16, 83, 0.24) 0px 8px 15px;"></i>
            </a>
        </div>
        </div>
    </div>

    <div class="vc_col-sm-8 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div id="fws_69283dfe28b50" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row" style="">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
                <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column padding-2-percent inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div
                        class="nectar-fancy-box vc_custom_1750085926758 has-animation triggered-animation animated-in"
                        data-style="color_box_basic"
                        data-animation="fade-in-from-bottom"
                        data-hover-o="default"
                        data-border-radius="default"
                        data-border=""
                        data-box-color-opacity="0.6"
                        data-delay="0"
                        data-alignment="left"
                        data-color="#00aeff"
                        style="color: rgb(255, 255, 255); transform: none; opacity: 1;">
                        <div class="box-bg" role="presentation" style=" background-color: #00aeff;"></div>
                        <div class="inner" style="min-height: 0px">
                        <i class="icon-default-style fa fa-briefcase" data-color="accent-color" style="font-size: 40px!important; line-height: 40px!important;"></i>
                        <h4>Daha iyi bir kariyer</h4>
                        <p>Sadece iş değil, anlam ve gelişim sunan bir kariyer yolculuğu için buradayız. Potansiyeline inanan, destekleyen ve yan yana yürüyen bir ekip olmayı önemsiyoruz.</p>
                        </div>
                    </div>
                    <div
                        class="nectar-fancy-box vc_custom_1750085869866 has-animation triggered-animation animated-in"
                        data-style="color_box_basic"
                        data-animation="fade-in-from-bottom"
                        data-hover-o="default"
                        data-border-radius="default"
                        data-border=""
                        data-box-color-opacity="1"
                        data-delay="0"
                        data-alignment="left"
                        data-color="#f8b044"
                        style="color: rgb(255, 255, 255); transform: none; opacity: 1;">
                        <div class="box-bg" role="presentation" style=" background-color: #f8b044;"></div>
                        <div class="inner" style="min-height: 0px">
                        <i class="icon-default-style fa fa-comments-o" data-color="accent-color" style="font-size: 40px!important; line-height: 40px!important;"></i>
                        <h4>Daha iyi bir iletişim</h4>
                        <p>Açık, içten ve anlayışlı bir iletişim dili kurmak istiyoruz. Çünkü iyi bir iletişim, sadece kelimeleri değil; insanları, fikirleri ve hayalleri de birbirine yaklaştırır.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column padding-2-percent inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div
                        class="nectar-fancy-box vc_custom_1750085943369 has-animation triggered-animation animated-in"
                        data-style="color_box_basic"
                        data-animation="fade-in-from-bottom"
                        data-hover-o="default"
                        data-border-radius="default"
                        data-border=""
                        data-box-color-opacity="1"
                        data-delay="100"
                        data-alignment="left"
                        data-color="#f0f0f0"
                        style="color: rgb(40, 40, 40); transform: none; opacity: 1;">
                        <div class="box-bg" role="presentation" style=" background-color: #f0f0f0;"></div>
                        <div class="inner img-loaded" style="min-height: 0px">
                        <img style="max-width: 40px;" class="fancy-box-custom-icon nectar-lazy loaded" alt="" src="./İnsan Kaynakları - Adeca Lojistik_files/daha_iyi_bir_sen_icon_rev.png" />
                        <h4>Daha iyi bir sen</h4>
                        <p>Bu kapının arkasında “Daha İyisi” var. Daha İyi Bir Sen, Daha İyisi’nin anahtarı!</p>
                        </div>
                    </div>
                    <div
                        class="nectar-fancy-box vc_custom_1750085839452 has-animation triggered-animation animated-in"
                        data-style="color_box_basic"
                        data-animation="fade-in-from-bottom"
                        data-hover-o="default"
                        data-border-radius="default"
                        data-border=""
                        data-box-color-opacity="1"
                        data-delay="100"
                        data-alignment="left"
                        data-color="#71cb8c"
                        style="color: rgb(255, 255, 255); transform: none; opacity: 1;">
                        <div class="box-bg" role="presentation" style=" background-color: #71cb8c;"></div>
                        <div class="inner" style="min-height: 0px">
                        <i class="icon-default-style fa fa-pagelines" data-color="accent-color" style="font-size: 40px!important; line-height: 40px!important;"></i>
                        <h4>Daha iyi bir gelecek</h4>
                        <p>Sürdürülebilirlik bizim için sadece çevreyle ilgili değil; değerlerimizle, bu yolda birlikte yürüdüğümüz insanlarla ve dünyaya karşı sorumluluklarımızla ilgilidir. Geleceği bugünden düşünerek hareket ediyoruz.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column padding-2-percent inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div
                        class="nectar-fancy-box vc_custom_1750085807202 has-animation triggered-animation animated-in"
                        data-style="color_box_basic"
                        data-animation="fade-in-from-bottom"
                        data-hover-o="default"
                        data-border-radius="default"
                        data-border=""
                        data-box-color-opacity="1"
                        data-delay="200"
                        data-alignment="left"
                        data-color="#992de8"
                        style="color: rgb(255, 255, 255); transform: none; opacity: 1;">
                        <div class="box-bg" role="presentation" style=" background-color: #992de8;"></div>
                        <div class="inner" style="min-height: 0px">
                        <i class="icon-default-style fa fa-users" data-color="accent-color" style="font-size: 40px!important; line-height: 40px!important;"></i>
                        <h4>Daha iyi bir toplum</h4>
                        <p>Birlikte yaşadığımız dünyayı daha adil ve daha duyarlı hale getirmek için çalışıyoruz. Çünkü iyiliğin yayıldığını ve birlikte çoğaldığını biliyoruz.</p>
                        </div>
                    </div>
                    <div
                        class="nectar-fancy-box vc_custom_1754653007948 has-animation triggered-animation animated-in"
                        data-style="color_box_basic"
                        data-animation="fade-in-from-bottom"
                        data-hover-o="default"
                        data-border-radius="default"
                        data-border=""
                        data-box-color-opacity="1"
                        data-delay="200"
                        data-alignment="left"
                        data-color="#e96c56"
                        style="color: rgb(255, 255, 255); transform: none; opacity: 1;">
                        <div class="box-bg" role="presentation" style=" background-color: #e96c56;"></div>
                        <div class="inner" style="min-height: 0px">
                        <span class="im-icon-wrap" data-color="accent-color">
                            <span>
                            <svg role="presentation" version="1.1" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 32 32" fill="#ffffff">
                                <path
                                d="M16 32c-8.823 0-16-7.177-16-16s7.177-16 16-16 16 7.177 16 16-7.177 16-16 16zM16 1.333c-8.087 0-14.667 6.58-14.667 14.667 0 8.085 6.58 14.667 14.667 14.667 8.085 0 14.667-6.581 14.667-14.667 0-8.087-6.581-14.667-14.667-14.667zM16 28c-6.616 0-12-5.384-12-12 0-0.368 0.299-0.667 0.667-0.667s0.667 0.299 0.667 0.667c0 5.881 4.785 10.667 10.667 10.667s10.667-4.785 10.667-10.667c0-0.368 0.3-0.667 0.667-0.667s0.667 0.299 0.667 0.667c0 6.616-5.384 12-12 12zM12.667 12c-0.368 0-0.667-0.299-0.667-0.667 0-1.103-0.897-2-2-2s-2 0.897-2 2c0 0.368-0.299 0.667-0.667 0.667s-0.667-0.299-0.667-0.667c0-1.837 1.496-3.333 3.333-3.333s3.333 1.496 3.333 3.333c0 0.368-0.299 0.667-0.667 0.667zM24.667 12c-0.367 0-0.667-0.299-0.667-0.667 0-1.103-0.897-2-2-2s-2 0.897-2 2c0 0.368-0.3 0.667-0.667 0.667s-0.667-0.299-0.667-0.667c0-1.837 1.496-3.333 3.333-3.333s3.333 1.496 3.333 3.333c0 0.368-0.3 0.667-0.667 0.667z"></path>
                            </svg>
                            </span>
                        </span>
                        <h4>Daha iyi bir yaşam</h4>
                        <p>Dengeli, sağlıklı ve keyifli bir yaşam için birbirimize alan açıyoruz. Çünkü iyi hissetmek, daha iyi bir senin temelidir.</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>