<div
  id="fws_69283dfe1a018"
  data-column-margin="none"
  data-midnight="dark"
  data-top-percent="5%"
  data-bottom-percent="5%"
  class="wpb_row vc_row-fluid vc_row top-level full-width-content vc_row-o-full-height vc_row-o-columns-middle vc_row-o-equal-height vc_row-flex vc_row-o-content-middle nectar-overflow-hidden first-section loaded"
  style="padding-top: calc(5vw); padding-bottom: calc(5vw); min-height: 100vh;">
  <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
  </div>
  <div class="row_col_wrap_12 col span_12 dark left">
    <div
      class="vc_col-sm-6 wpb_column column_container vc_column_container col left_padding_desktop_7vw top_padding_desktop_4vw right_padding_desktop_7vw bottom_padding_desktop_6vw "
      data-padding-pos="all"
      data-has-bg-color="false"
      data-bg-color=""
      data-bg-opacity="1"
      data-animation=""
      data-delay="0">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div id="fws_69283dfe1dc68" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row  right_padding_10pct top_padding_tablet_8pct" style="padding-top: 5%; ">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
              <div
                class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding el_spacing_0px inherit_tablet inherit_phone mobile-disable-entrance-animation triggered-animation animated-in"
                data-padding-pos="all"
                data-has-bg-color="false"
                data-bg-color=""
                data-bg-opacity="1"
                data-animation="fade-in-from-bottom"
                data-delay="900"
                style="transform: none; opacity: 1;">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div class="nectar-highlighted-text font_size_5vw font_size_tablet_7vw font_line_height_1-1em nectar-disable-mobile-animation " data-style="scribble" data-exp="default" data-using-custom-color="false" data-animation-delay="false" data-color="" data-color-gradient="" style="">
                      <p>
                        {{slogan.first}}
                        <strong>
                          <em style="color: rgba(28, 91, 159, .8);" class="animated">
                            {{slogan.emphatized}}
                            <svg class="nectar-scribble basic-underline" role="presentation" viewBox="-400 -55 730 60" preserveAspectRatio="none">
                              <path style="animation-duration: 0s;" d="m -383.25 -6 c 55.25 -22 130.75 -33.5 293.25 -38 c 54.5 -0.5 195 -2.5 401 15" stroke="rgba(28, 91, 159, .8)" pathLength="1" stroke-width="14" fill="none"></path>
                            </svg>
                          </em>
                        </strong>
                        {{slogan.last}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="fws_69283dfe1eab9" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="padding-top: 3vw; ">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
              <div
                class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding column_element_direction_desktop_horizontal column_element_direction_tablet_horizontal column_element_direction_phone_horizontal el_spacing_20px inherit_tablet inherit_phone mobile-disable-entrance-animation triggered-animation animated-in"
                data-padding-pos="all"
                data-has-bg-color="false"
                data-bg-color=""
                data-bg-opacity="1"
                data-animation="fade-in-from-bottom"
                data-delay="1100"
                data-animation-offset="100%"
                style="transform: none; opacity: 1;">
                <div class="vc_column-inner">
                  <div class="wpb_wrapper">
                    <div
                      class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit font_size_desktop_1-1vw font_size_tablet_14px "
                      data-color="accent-color"
                      data-using-bg="true"
                      data-style="text-reveal-wave"
                      data-display="inline"
                      data-alignment="left"
                      data-text-color="custom"
                      style="margin-right: 1em; ">
                      <span style="color: #ffffff;" class="nectar-button-type">
                        <span class="link_wrap custom_link_wrap" style="padding-top: 0.8em; padding-right: 2.2em; padding-bottom: 0.8em; padding-left: 2.2em;">
                          <a class="link_text" aria-label="{{ uploadCVButtonText}}" role="button">{{ uploadCVButtonText }}</a>
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="vc_col-sm-6 wpb_column column_container vc_column_container col column_position_relative el_spacing_0px left_padding_tablet_7vw top_padding_tablet_30px right_padding_desktop_7vw right_padding_tablet_7vw "
      data-overlay-color="true"
      data-padding-pos="all"
      data-has-bg-color="false"
      data-bg-color=""
      data-bg-opacity="1"
      data-animation=""
      data-delay="0">
      <div class="vc_column-inner">
        <div class="column-bg-overlay-wrap column-bg-layer" data-bg-animation="none">
          <div class="column-bg-overlay"></div>
          <div class="column-overlay-layer" style=""></div>
        </div>
        <div class="wpb_wrapper">
          <div id="fws_69283dfe212bb" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
              <div
                class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone col-overflow-hidden mobile-disable-entrance-animation nectar-mask-reveal nectar-mask-reveal-left-dir nectar-mask-reveal-circle-shape animated-in"
                data-border-radius="20px"
                data-overlay-color="true"
                data-padding-pos="all"
                data-has-bg-color="false"
                data-bg-color=""
                data-bg-opacity="1"
                data-animation="mask-reveal"
                data-delay="0"
                data-animation-easing="easeInOutCubic">
                <div class="vc_column-inner">
                  <div class="column-bg-overlay-wrap column-bg-layer" data-bg-animation="none">
                    <div class="column-bg-overlay"></div>
                    <div class="column-overlay-layer" style="background:radial-gradient(circle at bottom, rgb(8, 71, 139) 0%, rgb(8, 71, 139) 76%);"></div>
                  </div>
                  <div class="wpb_wrapper">
                    <div class="nectar-animated-shape width_desktop_77vw width_tablet_154vw position_desktop_absolute top_position_desktop_0px left_position_desktop_0px translate_y_desktop_-50pct translate_x_desktop_-50pct z_index_-1">
                      <div class="nectar-animated-shape__inner_wrap nectar-waypoint-el nectar-disable-mobile-animation animated-in" data-nectar-waypoint-el-delay="30" data-easing="easeInOutCubic" data-animation="grow-in">
                        <div class="nectar-animated-shape__inner">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" width="100" height="50" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; overflow: hidden;"><circle cx="50" cy="50" r="50" fill="rgba(28, 91, 159, 0.7)"></circle></svg>
                        </div>
                      </div>
                    </div>
                    <div class="img-with-aniamtion-wrap center nectar-disable-mobile-animation " data-max-width="100%" data-max-width-mobile="default" data-shadow="none" data-animation="fade-in-from-bottom" style="margin-top: 50px;">
                      <div class="inner">
                        <div class="hover-wrap" style="transform: translateY(0px) translateZ(0px); opacity: 1;">
                          <div class="hover-wrap-inner">
                            <img
                              class="career-page-image"
                              fetchpriority="high"
                              decoding="async"
                              class="img-with-animation skip-lazy animated-in"
                              data-delay="0"
                              height="659"
                              width="1462"
                              data-animation="fade-in-from-bottom"
                              data-animation-easing="easeInOutCubic"
                              src="/assets/media/career/adeca_lojistik_team.png"
                              alt=""
                              srcset="/assets/media/career/adeca_lojistik_team.png"
                              sizes="750" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
