<div id="is-basvurulari" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: 0px; padding-bottom: 0px; ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div
            class="nectar-split-heading markup-generated animated-in"
            data-align="center"
            data-m-align="center"
            data-text-effect="letter-reveal-bottom"
            data-animation-type="line-reveal-by-space"
            data-animation-delay="0"
            data-animation-offset=""
            data-m-rm-animation=""
            data-stagger=""
            data-custom-font-size="false">
            <h1 style=" color: #55565a;" aria-label="İş Başvuruları">İş Başvuruları</h1>
            </div>
            <div
            class="nectar-split-heading font_size_30px font_size_phone_25px markup-generated"
            data-align="center"
            data-m-align="center"
            data-text-effect="default"
            data-animation-type="line-reveal-by-space"
            data-animation-delay="0"
            data-animation-offset=""
            data-m-rm-animation=""
            data-stagger=""
            data-custom-font-size="true"
            style="font-size: 30px; line-height: 45px;">
            <p aria-label=""></p>
            <p aria-label="Aşağıdaki platformlardan açık pozisyonları görebilirsiniz.">Aşağıdaki platformlardan açık pozisyonları görebilirsiniz.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div id="fws_69283dfe40002" data-column-margin="default" data-midnight="dark" data-top-percent="6%" data-bottom-percent="6%" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: calc(100vw * 0.06); padding-bottom: calc(100vw * 0.06); ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop using-bg-color" style="background-color: #ffffff; "></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div id="fws_69283dfe40670" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  vc_custom_1504187365562" style="">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
                <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div class="nectar-fancy-box   box_color_8316b5 " data-style="color_box_hover" data-animation="" data-hover-o="default" data-border-radius="default" data-border="true" data-box-color-opacity="1" data-delay="" data-alignment="center" data-color="extra-color-gradient-2">
                        <div class="box-inner-wrap">
                        <div class="box-bg" role="presentation"></div>
                        <div class="inner" style="min-height: 120px">
                            <div class="inner-wrap img-loaded">
                            <img style="max-width: 350px;" class="fancy-box-custom-icon nectar-lazy loaded" alt="" src="./İnsan Kaynakları - Adeca Lojistik_files/kariyernet-logo.png" />
                            <h3>İlanları İncele</h3>
                            </div>
                        </div>
                        <a target="_blank" href="https://www.kariyer.net/firma-profil/Adeca-lojistik-4077-41277" class="box-link"></a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div class="nectar-fancy-box   box_color_0072bc " data-style="color_box_hover" data-animation="" data-hover-o="default" data-border-radius="default" data-border="true" data-box-color-opacity="1" data-delay="" data-alignment="center" data-color="accent-color">
                        <div class="box-inner-wrap">
                        <div class="box-bg" role="presentation"></div>
                        <div class="inner" style="min-height: 120px">
                            <div class="inner-wrap img-loaded">
                            <img style="max-width: 350px;" class="fancy-box-custom-icon nectar-lazy loaded" alt="" src="./İnsan Kaynakları - Adeca Lojistik_files/eleman_logo_trns.png" />
                            <h3>İlanları İncele</h3>
                            </div>
                        </div>
                        <a target="_blank" href="https://www.eleman.net/firma/Adeca-lojistik-f480060" class="box-link"></a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div class="nectar-fancy-box   box_color_006699 " data-style="color_box_hover" data-animation="" data-hover-o="default" data-border-radius="default" data-border="true" data-box-color-opacity="1" data-delay="" data-alignment="center" data-color="accent-color">
                        <div class="box-inner-wrap">
                        <div class="box-bg" role="presentation"></div>
                        <div class="inner" style="min-height: 120px">
                            <div class="inner-wrap img-loaded">
                            <img style="max-width: 350px;" class="fancy-box-custom-icon nectar-lazy loaded" alt="" src="./İnsan Kaynakları - Adeca Lojistik_files/linkedin_btn_logo_rev.png" />
                            <h3>İlanları İncele</h3>
                            </div>
                        </div>
                        <a target="_blank" href="https://www.linkedin.com/jobs/Adeca-logistics-jobs/?country=tr" class="box-link"></a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>