<div id="degerlerimiz" data-column-margin="default" data-midnight="dark" data-top-percent="6%" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: calc(100vw * 0.06); padding-bottom: 0px; ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop" style=""></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div id="fws_69283dfe37afd" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="padding-bottom: 5%; ">
            <div class="row-bg-wrap"><div class="row-bg"></div></div>
            <div class="row_col_wrap_12_inner col span_12  left">
                <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper"></div>
                </div>
                </div>

                <div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column centered-text no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                    <div
                        class="nectar-split-heading markup-generated animated-in"
                        data-align="default"
                        data-m-align="inherit"
                        data-text-effect="letter-reveal-bottom"
                        data-animation-type="line-reveal-by-space"
                        data-animation-delay="0"
                        data-animation-offset=""
                        data-m-rm-animation=""
                        data-stagger=""
                        data-custom-font-size="false">
                        <h1 style=" color: #55565a;" aria-label="Adecalüler Anlatıyor">Adecalüler Anlatıyor</h1>
                    </div>
                    </div>
                </div>
                </div>

                <div class="vc_col-sm-3 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper"></div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div id="fws_69283dfe38f16" data-column-margin="default" data-midnight="dark" data-bottom-percent="6%" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: 0px; padding-bottom: calc(100vw * 0.06); ">
    <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
    <div class="inner-wrap row-bg-layer"><div class="row-bg viewport-desktop using-bg-color" style="background-color: #ffffff; "></div></div>
    </div>
    <div class="row_col_wrap_12 col span_12 dark left">
    <div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
        <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="wpb_content_element" data-interval="0">
            <div class="wpb_wrapper tabbed clearfix" data-style="vertical_modern" data-animation="" data-spacing="" data-icon-size="24" data-full-width-line="" data-color-scheme="accent-color" data-alignment="left">
                <ul class="wpb_tabs_nav ui-tabs-nav clearfix">
                <li class="tab-item active-tab">
                    <a role="button" href="https://www.Adeca.com/insan-kaynaklari/#tab-1755758506655-8" class="active-tab"><span>Begüm'ün Hikayesi</span></a>
                </li>
                <li class="tab-item">
                    <a role="button" href="https://www.Adeca.com/insan-kaynaklari/#tab-1755758506857-8"><span>Ali'nin Hikayesi</span></a>
                </li>
                <li class="tab-item">
                    <a role="button" href="https://www.Adeca.com/insan-kaynaklari/#tab-1755758506963-9"><span>Gizem'in Hikayesi</span></a>
                </li>
                </ul>

                <div id="tab-begumun-hikayesi" data-tab-icon="" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix visible-tab">
                <div id="fws_69283dfe3a4b2" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="">
                    <div class="row-bg-wrap"><div class="row-bg"></div></div>
                    <div class="row_col_wrap_12_inner col span_12  left">
                    <div
                        class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-3-percent inherit_tablet inherit_phone triggered-animation animated-in"
                        data-padding-pos="top-bottom"
                        data-has-bg-color="false"
                        data-bg-color=""
                        data-bg-opacity="1"
                        data-animation="fade-in-from-bottom"
                        data-delay="0"
                        style="transform: none; opacity: 1;">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <blockquote class="nectar_single_testimonial" tabindex="0" data-color="default" data-style="small_modern">
                            <div class="inner">
                                <p>
                                <span class="open-quote">”</span>
                                Adeca’de çalışmak, sadece bir iş değil; aynı zamanda sürekli gelişim ve yeniliklere açık bir ortamda bulunmak demek. Şirketin sunduğu eğitim fırsatları ve kariyer olanakları sayesinde her gün yeni bir şey öğreniyorum. Ekip arkadaşlarımla ve yöneticilerimle
                                kurduğumuz güçlü iş birlikleri sayesinde karşılaştığımız zorlukları aşmak daha kolay hale geliyor. Herhangi bir sorunda hemen çözüm üreten bir organizasyon kültürüne sahibiz ve bu gerçekten motive edici.
                                </p>
                                <span class="wrap">
                                <span>Begüm K.</span>
                                <span class="title">Satın Alma Kıdemli İş Lideri</span>
                                </span>
                            </div>
                            </blockquote>
                        </div>
                        </div>
                    </div>

                    <div
                        class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-3-percent inherit_tablet inherit_phone triggered-animation animated-in"
                        data-padding-pos="top-bottom"
                        data-has-bg-color="false"
                        data-bg-color=""
                        data-bg-opacity="1"
                        data-animation="fade-in-from-bottom"
                        data-delay="100"
                        style="transform: none; opacity: 1;">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="img-with-aniamtion-wrap center" data-max-width="50%" data-max-width-mobile="default" data-shadow="none" data-animation="none">
                            <div class="inner">
                                <div class="hover-wrap">
                                <div class="hover-wrap-inner img-loaded">
                                    <img
                                    decoding="async"
                                    class="img-with-animation skip-lazy nectar-lazy loaded"
                                    data-delay="0"
                                    height="3022"
                                    width="1435"
                                    data-animation="none"
                                    src="./İnsan Kaynakları - Adeca Lojistik_files/begum_k_photo.png"
                                    alt=""
                                    sizes="(max-width: 1435px) 100vw, 1435px"
                                    style=""
                                    srcset="https://www.Adeca.com/wp-content/uploads/2025/04/begum_k_photo.png 1435w, https://www.Adeca.com/wp-content/uploads/2025/04/begum_k_photo-142x300.png 142w, https://www.Adeca.com/wp-content/uploads/2025/04/begum_k_photo-486x1024.png 486w, https://www.Adeca.com/wp-content/uploads/2025/04/begum_k_photo-768x1617.png 768w, https://www.Adeca.com/wp-content/uploads/2025/04/begum_k_photo-729x1536.png 729w, https://www.Adeca.com/wp-content/uploads/2025/04/begum_k_photo-972x2048.png 972w" />
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div id="tab-alinin-hikayesi" data-tab-icon="" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix">
                <div id="fws_69283dfe3c1d7" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="">
                    <div class="row-bg-wrap"><div class="row-bg"></div></div>
                    <div class="row_col_wrap_12_inner col span_12  left">
                    <div
                        class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-3-percent inherit_tablet inherit_phone "
                        data-padding-pos="top-bottom"
                        data-has-bg-color="false"
                        data-bg-color=""
                        data-bg-opacity="1"
                        data-animation="fade-in-from-bottom"
                        data-delay="0">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <blockquote class="nectar_single_testimonial" tabindex="0" data-color="default" data-style="small_modern">
                            <div class="inner">
                                <p>
                                <span class="open-quote">”</span>
                                Adeca’de, her gün kendimi daha fazla geliştirme fırsatı bulduğum bir deneyim yaşıyorum. Yenilikçi projelerde yer almak, farklı departmanlarla iş birliği yapmak ve her zaman çözüm odaklı bir yaklaşımla çalışmak, işimi daha anlamlı kılıyor. Şirketin dinamik yapısı,
                                beni sürekli olarak yeni beceriler kazanmaya itiyor ve takım arkadaşlarımın desteğiyle her zorluk aşılabilir hale geliyor.
                                </p>
                                <span class="wrap">
                                <span>Ali A.</span>
                                <span class="title">Kurumsal İletişim &amp; Çalışan Deneyimi Uzmanı</span>
                                </span>
                            </div>
                            </blockquote>
                        </div>
                        </div>
                    </div>

                    <div
                        class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-3-percent inherit_tablet inherit_phone "
                        data-padding-pos="top-bottom"
                        data-has-bg-color="false"
                        data-bg-color=""
                        data-bg-opacity="1"
                        data-animation="fade-in-from-bottom"
                        data-delay="100">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="img-with-aniamtion-wrap center" data-max-width="75%" data-max-width-mobile="default" data-shadow="none" data-animation="none">
                            <div class="inner">
                                <div class="hover-wrap">
                                <div class="hover-wrap-inner">
                                    <img
                                    decoding="async"
                                    class="img-with-animation skip-lazy nectar-lazy"
                                    data-delay="0"
                                    height="1460"
                                    width="848"
                                    data-animation="none"
                                    data-nectar-img-src="https://www.Adeca.com/wp-content/uploads/2025/04/ali_a_photo.png"
                                    src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%20848%201460&#39;%2F%3E"
                                    alt=""
                                    data-nectar-img-srcset="https://www.Adeca.com/wp-content/uploads/2025/04/ali_a_photo.png 848w, https://www.Adeca.com/wp-content/uploads/2025/04/ali_a_photo-174x300.png 174w, https://www.Adeca.com/wp-content/uploads/2025/04/ali_a_photo-595x1024.png 595w, https://www.Adeca.com/wp-content/uploads/2025/04/ali_a_photo-768x1322.png 768w"
                                    sizes="(max-width: 848px) 100vw, 848px"
                                    style="height: 516.482px; width: 299.984px;" />
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div id="tab-gizemin-hikayesi" data-tab-icon="" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide clearfix">
                <div id="fws_69283dfe3d945" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row" style="">
                    <div class="row-bg-wrap"><div class="row-bg"></div></div>
                    <div class="row_col_wrap_12_inner col span_12  left">
                    <div
                        class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-3-percent inherit_tablet inherit_phone "
                        data-padding-pos="top-bottom"
                        data-has-bg-color="false"
                        data-bg-color=""
                        data-bg-opacity="1"
                        data-animation="fade-in-from-bottom"
                        data-delay="0">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <blockquote class="nectar_single_testimonial" tabindex="0" data-color="default" data-style="small_modern">
                            <div class="inner">
                                <p>
                                <span class="open-quote">”</span>
                                Bizim ofisimizde, en yoğun günlerde bile yüzümüzde gülümseme yaratan bir şey var: patili dostlarımız! Hem çalışan mutluluğu hem de sosyal sorumluluk açısından örnek teşkil eden bir tablo bu. Onların varlığı, sadece motivasyonumuzu artırmakla kalmıyor; aynı zamanda
                                empatiyi, sabrı ve sevgiyi hatırlatıyor. Hem kendi bünyemizdeki hem de beslediğimiz sokaktaki canlarımızla biliyoruz ki sevgi, paylaştıkça çoğalır. En içten sevgi bazen bir patiyle gelir. Patilerden ilham alıyor, birlikte daha güzel bir dünya kurmak için
                                çalışıyoruz.
                                </p>
                                <span class="wrap">
                                <span>Gizem T.</span>
                                <span class="title">Yetenek Kazanımı &amp; İş Ortaklığı Eksperi</span>
                                </span>
                            </div>
                            </blockquote>
                        </div>
                        </div>
                    </div>

                    <div
                        class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-3-percent inherit_tablet inherit_phone "
                        data-padding-pos="top-bottom"
                        data-has-bg-color="false"
                        data-bg-color=""
                        data-bg-opacity="1"
                        data-animation="fade-in-from-bottom"
                        data-delay="100">
                        <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="img-with-aniamtion-wrap center" data-max-width="75%" data-max-width-mobile="default" data-shadow="none" data-animation="none">
                            <div class="inner">
                                <div class="hover-wrap">
                                <div class="hover-wrap-inner">
                                    <img
                                    decoding="async"
                                    class="img-with-animation skip-lazy nectar-lazy"
                                    data-delay="0"
                                    height="2228"
                                    width="1351"
                                    data-animation="none"
                                    data-nectar-img-src="https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1.png"
                                    src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D&#39;http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg&#39;%20viewBox%3D&#39;0%200%201351%202228&#39;%2F%3E"
                                    alt=""
                                    data-nectar-img-srcset="https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1.png 1351w, https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1-182x300.png 182w, https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1-621x1024.png 621w, https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1-768x1267.png 768w, https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1-931x1536.png 931w, https://www.Adeca.com/wp-content/uploads/2025/07/gkt_gzm_anlatiyor-1-1242x2048.png 1242w"
                                    sizes="(max-width: 1351px) 100vw, 1351px"
                                    style="height: 494.718px; width: 299.984px;" />
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>