<div class="nectar-global-section before-footer" role="contentinfo">
  <div class="container normal-container row">
    <div
      class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-middle right_padding_5pct left_padding_5pct top_padding_tablet_4pct top_padding_phone_8pct bottom_padding_tablet_4pct bottom_padding_phone_8pct first-section loaded"
      data-bottom-percent="2%"
      data-column-margin="default"
      data-midnight="dark"
      data-top-percent="2%"
      id="fws_69282b44b46f2"
      style="padding-top: calc(100vw * 0.02); padding-bottom: calc(100vw * 0.02);">
      <div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
        <div class="inner-wrap row-bg-layer">
          <div class="row-bg viewport-desktop" style=""></div>
        </div>
      </div>
      <div class="nectar-shape-divider-wrap" data-front="" data-height="1" data-position="top" data-style="straight_section" style="height:1px;">
        <svg aria-hidden="true" class="nectar-shape-divider" fill="rgba(10,10,10,0.1)" preserveaspectratio="none" viewbox="0 0 100 10" xmlns="http://www.w3.org/2000/svg">
          <polygon points="104 10, 104 0, 0 0, 0 10"></polygon>
        </svg>
      </div>
      <div class="row_col_wrap_12 col span_12 dark left">
        <div
          class="vc_col-sm-3 wpb_column column_container vc_column_container col no-extra-padding force-tablet-text-align-center force-phone-text-align-center inherit_tablet inherit_phone"
          data-animation=""
          data-bg-color=""
          data-bg-opacity="1"
          data-delay="0"
          data-has-bg-color="false"
          data-padding-pos="all">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element">
                <div class="wpb_wrapper">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="vc_col-sm-6 wpb_column column_container vc_column_container col centered-text no-extra-padding el_spacing_0px top_margin_tablet_10px bottom_margin_tablet_10px inherit_tablet inherit_phone"
          data-animation=""
          data-bg-color=""
          data-bg-opacity="1"
          data-delay="0"
          data-has-bg-color="false"
          data-padding-pos="all">
        </div>
        <div
          class="vc_col-sm-3 wpb_column column_container vc_column_container col no-extra-padding force-tablet-text-align-center force-phone-text-align-center inherit_tablet inherit_phone"
          data-animation=""
          data-bg-color=""
          data-bg-opacity="1"
          data-delay="0"
          data-has-bg-color="false"
          data-padding-pos="all">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_row vc_row-fluid vc_row inner_row" data-column-margin="default" data-midnight="" id="fws_69282b44b6291" style="">
                <div class="row-bg-wrap">
                  <div class="row-bg"></div>
                </div>
                <div class="row_col_wrap_12_inner col span_12 right">
                  <div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone" data-animation="" data-bg-color="" data-bg-opacity="1" data-delay="0" data-has-bg-color="false" data-padding-pos="all">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element">
                          <div class="wpb_wrapper">
                            <p>{{ globals.brand.longName[lang] }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
