<div
  class="transparent entrance-animation detached at-top side-widget-closed"
  data-box-shadow="none"
  data-cart="false"
  data-condense="false"
  data-format="default"
  data-full-width="true"
  data-has-buttons="yes"
  data-has-menu="true"
  data-header-button_style="hover_scale"
  data-header-resize="0"
  data-lhe="animated_underline"
  data-logo-height="75"
  data-m-logo-height="75"
  data-megamenu-rt="0"
  data-mobile-fixed="1"
  data-padding="20"
  data-permanent-transparent="1"
  data-ptnm="1"
  data-remove-border="true"
  data-remove-fixed="0"
  data-shrink-num="6"
  data-transparency-option="1"
  data-transparent-header="true"
  data-transparent-shadow-helper="false"
  data-user-set-bg="#ffffff"
  data-using-logo="1"
  data-using-pr-menu="false"
  data-using-secondary="0"
  id="header-outer"
  style="transform: translateY(0px);">
  <div class="nectar" id="search-outer">
    <div id="search">
      <div class="container">
        <div id="search-box">
          <div class="inner-wrap">
            <div class="col span_12">
              <form action="https://www.ekol.com/" method="get" role="search">
                <input aria-label="Search" id="s" name="s" placeholder="Size nasıl yardımcı olabiliriz?" type="text" value="" />
                <button aria-label="Search" class="search-box__button" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
        <div id="close">
          <a href="https://www.ekol.com/#" role="button"><span class="screen-reader-text">Close Search</span></a>
        </div>
      </div>
    </div>
    <div class="nectar-ajax-search-results">
      <div class="container">
        <div class="inner"></div>
      </div>
    </div>
  </div>
  <header aria-label="Main Menu" id="top" role="banner">
    <div class="container">
      <div class="row">
        <div class="col span_3">
          <a data-supplied-ml="false" data-supplied-ml-starting="false" data-supplied-ml-starting-dark="false" href="https://www.ekol.com/" id="logo">
            <img alt="Ekol Lojistik" class="stnd skip-lazy dark-version" height="2200" src="/assets/media/ekol_for_a_better_logo_renkli.png" width="2352" />
            <img alt="Ekol Lojistik" class="starting-logo skip-lazy" height="1514" src="/assets/media/ekol_for_a_better_logo_white.png" width="1618" />
          </a>
        </div>
        <div class="col span_9 col_last">
          <div class="nectar-mobile-only mobile-header">
            <div class="inner"></div>
          </div>
          <a class="mobile-search" href="https://www.ekol.com/#searchbox"><span class="screen-reader-text">search</span></a>
          <div class="slide-out-widget-area-toggle mobile-icon slide-out-from-right" data-custom-color="true" data-icon-animation="simple-transform">
            <div>
              <a aria-expanded="false" aria-label="Navigation Menu" class="closed" href="https://www.ekol.com/#slide-out-widget-area" role="button"><span class="screen-reader-text">Menu</span></a>
            </div>
          </div>
          <nav aria-label="Main Menu">
            <ul class="sf-menu sf-js-enabled sf-arrows">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-btn-style-button-border_accent-color menu-item-hover-text-reveal-wave menu-item-has-icon nectar-regular-menu-item menu-item-336" id="menu-item-336">
                <a class="hover" href="https://quadronet.ekol.com/login.aspx?language=TR" rel="noopener" target="_blank">
                  <span class="menu-title-text">
                    <span class="char" style="animation-delay: 0s;">e</span>
                    <span class="char" style="animation-delay: 0.015s;">–</span>
                    <span class="char" style="animation-delay: 0.03s;">L</span>
                    <span class="char" style="animation-delay: 0.045s;">i</span>
                    <span class="char" style="animation-delay: 0.06s;">n</span>
                    <span class="char" style="animation-delay: 0.075s;">k</span>
                  </span>
                </a>
              </li>
            </ul>
            <ul class="buttons sf-menu" data-user-set-ocm="1">
              <li id="search-btn">
                <div>
                  <a href="https://www.ekol.com/#searchbox"><span class="screen-reader-text">search</span></a>
                </div>
              </li>
              <li class="slide-out-widget-area-toggle" data-custom-color="true" data-icon-animation="simple-transform">
                <div>
                  <a aria-expanded="false" aria-label="Navigation Menu" class="closed" href="https://www.ekol.com/#slide-out-widget-area" role="button"><span class="screen-reader-text">Menu</span></a>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="bg-color-stripe"></div>
</div>

