<div aria-label="Off Canvas Menu" aria-modal="true" class="slide-out-from-right" data-back-txt="Back" data-dropdown-func="default" id="slide-out-widget-area" role="dialog" style="padding-top: 129.4px; padding-bottom: 129.4px;" tabindex="">
  <div class="inner-wrap">
    <div class="inner" data-prepend-menu-mobile="true">
      <div class="off-canvas-menu-container mobile-only" role="navigation">
        <ul class="menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-icon menu-item-336">
            <a class="nectar-menu-item-with-icon" href="#" target="_blank">
              <span class="nectar-menu-icon-text"><span class="menu-title-text">e-Link</span></span>
            </a>
          </li>
        </ul>
        <ul class="menu secondary-header-items"></ul>
      </div>
      <div class="off-canvas-menu-container" role="navigation">
        <ul class="menu" style="max-height: 702px;">
          <li class="menu-item">
            <a href="/">Anasayfa</a>
          </li>
          <li class="menu-item">
            <a href="/about/">Kurumsal</a>
          </li>
          <li class="menu-item">
            <a href="/services/">Hizmetler</a>
          </li>
          <li class="menu-item">
            <a href="/career/">İnsan & Kültür</a>
          </li>
          <li class="menu-item">
            <a href="/contact/">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-meta-wrap">
      <ul class="off-canvas-social-links">
        <li>
          <a href="https://www.x.com/ekollogistics" rel="noopener" target="_blank"><span class="screen-reader-text">x-twitter</span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/ekollogistics" rel="noopener" target="_blank"><span class="screen-reader-text">facebook</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/ekol-logistics" rel="noopener" target="_blank"><span class="screen-reader-text">linkedin</span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/ekollogistics/" rel="noopener" target="_blank"><span class="screen-reader-text">instagram</span></a>
        </li>
      </ul>
      <p class="bottom-text" data-has-desktop-social="true">SOSYAL MEDYADA EKOL</p>
    </div>
  </div>
</div>
<div class="slide-out-from-right solid" id="slide-out-widget-area-bg"></div>
<div class="slide_out_area_close__wrap" role="complementary" aria-label="Close"><a class="slide_out_area_close" href="#"><span class="screen-reader-text">Close Menu</span>
					<span class="close-wrap"> <span class="close-line close-line1" role="presentation"></span> <span class="close-line close-line2" role="presentation"></span> </span>				</a></div>
