<div aria-label="Off Canvas Menu" aria-modal="true" class="slide-out-from-right" data-back-txt="Back" data-dropdown-func="default" id="slide-out-widget-area" role="dialog" style="padding-top: 129.4px; padding-bottom: 129.4px;" tabindex="">
  <div class="inner-wrap">
    <div class="inner" data-prepend-menu-mobile="true">
      <div class="off-canvas-menu-container mobile-only" role="navigation">
        <ul class="menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-icon menu-item-336">
            <a class="nectar-menu-item-with-icon" href="https://quadronet.ekol.com/login.aspx?language=TR" target="_blank">
              <span class="nectar-menu-icon-text"><span class="menu-title-text">e-Link</span></span>
            </a>
          </li>
        </ul>
        <ul class="menu secondary-header-items"></ul>
      </div>
      <div class="off-canvas-menu-container" role="navigation">
        <ul class="menu" style="max-height: 702px;">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-337 current_page_item menu-item-341" id="menu-item-341">
            <a aria-current="page" href="https://www.ekol.com/">Anasayfa</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-340 open-submenu" id="menu-item-340">
            <a aria-expanded="false" aria-haspopup="true" href="https://www.ekol.com/kurumsal/">Kurumsal</a>
            <ul class="sub-menu" style="max-height: 168px; position: relative; visibility: visible;">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71280" id="menu-item-71280">
                <a href="https://www.ekol.com/kurumsal">Hakkımızda</a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-398" id="menu-item-398">
                <a href="https://www.ekol.com/kurumsal/#yonetim-takimi">Yönetim Takımı</a>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-69407" id="menu-item-69407">
                <a href="https://www.ekol.com/kurumsal/#degerlerimiz">Değerlerimiz</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69519" id="menu-item-69519">
                <a href="https://www.ekol.com/kurumsal/tarihce/">Tarihçe</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-344" id="menu-item-344">
                <a href="https://www.ekol.com/tesisler/">Tesisler</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69482" id="menu-item-69482">
            <a aria-expanded="false" aria-haspopup="true" href="https://www.ekol.com/#">Hizmetler</a>
            <ul class="sub-menu" style="max-height: 0px;">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71315" id="menu-item-71315">
                <a href="https://www.ekol.com/depo-yonetimi/">Depo Yönetimi</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69881" id="menu-item-69881">
                <a href="https://www.ekol.com/e-ticaret/">E-Ticaret</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71311" id="menu-item-71311">
                <a href="https://www.ekol.com/ulusal-dagitim/">Ulusal Dağıtım</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-69398" id="menu-item-69398">
            <a aria-expanded="false" aria-haspopup="true" href="https://www.ekol.com/#">Sektörler</a>
            <ul class="sub-menu" style="max-height: 0px;">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69937" id="menu-item-69937">
                <a href="https://www.ekol.com/elektronik-lojistigi/">Elektronik</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69752" id="menu-item-69752">
                <a href="https://www.ekol.com/fmcg/">FMCG</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69744" id="menu-item-69744">
                <a href="https://www.ekol.com/imalat-lojistigi/">İmalat</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69875" id="menu-item-69875">
                <a href="https://www.ekol.com/otomotiv-lojistigi/">Otomotiv</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69852" id="menu-item-69852">
                <a href="https://www.ekol.com/saglik-lojistigi/">Sağlık</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69951" id="menu-item-69951">
                <a href="https://www.ekol.com/perakende-tekstil-lojistigi/">Tekstil</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-69522" id="menu-item-69522">
            <a aria-expanded="false" aria-haspopup="true" href="https://www.ekol.com/surdurulebilirlik/">Sürdürülebilirlik</a>
            <ul class="sub-menu" style="max-height: 0px;">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71300" id="menu-item-71300">
                <a href="https://www.ekol.com/surdurulebilirlik/">Sürdürülebilirlik Yaklaşımımız</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-75594" id="menu-item-75594">
                <a href="https://www.ekol.com/surdurulebilirlik/surdurulebilirlik-raporlarimiz/">Sürdürülebilirlik Raporlarımız</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72693" id="menu-item-72693">
                <a href="https://www.ekol.com/surdurulebilirlik/cevre-toplum/">Çevre & Toplum</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69481" id="menu-item-69481">
                <a href="https://www.ekol.com/surdurulebilirlik/yonetim-sistemleri-belgelerimiz/">Yönetim Sistemleri Belgelerimiz</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69493" id="menu-item-69493">
                <a href="https://www.ekol.com/surdurulebilirlik/yonetim-sistemleri-politikalarimiz/">Yönetim Sistemleri Politikalarımız</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69880" id="menu-item-69880">
            <a href="https://www.ekol.com/insan-kaynaklari/">İnsan & Kültür</a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69539" id="menu-item-69539">
            <a href="https://www.ekol.com/iletisim/">İletişim</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="bottom-meta-wrap">
      <ul class="off-canvas-social-links">
        <li>
          <a href="https://www.x.com/ekollogistics" rel="noopener" target="_blank"><span class="screen-reader-text">x-twitter</span></a>
        </li>
        <li>
          <a href="https://www.facebook.com/ekollogistics" rel="noopener" target="_blank"><span class="screen-reader-text">facebook</span></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/ekol-logistics" rel="noopener" target="_blank"><span class="screen-reader-text">linkedin</span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/ekollogistics/" rel="noopener" target="_blank"><span class="screen-reader-text">instagram</span></a>
        </li>
      </ul>
      <p class="bottom-text" data-has-desktop-social="true">SOSYAL MEDYADA EKOL</p>
    </div>
  </div>
</div>
<div class="slide-out-from-right solid" id="slide-out-widget-area-bg"></div>
<div aria-label="Close" class="slide_out_area_close__wrap" role="complementary">
  <a class="slide_out_area_close" href="https://www.ekol.com/#"><span class="screen-reader-text">Close Menu</span></a>
</div>
